body{
    font-family: Inter;
    background-color: rgba(255, 255, 255, 1);
}
.body{
    padding: 3%;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
    width: 95%;
    overflow-y: scroll;
    
}
a{
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
#main::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#main {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
h1{
    font-size: large;
    color: rgba(30, 86, 151, 1);
    font-weight: bold;
}
.body-text2{
    font-size: small;
    font-weight: 400;
}
.logo-img-box{
    width: 4em;
    height: 2em;
    
    background-color: black;
    opacity: 40%;
    color: white;
    position: relative;
    
}

.topnav-header{
    padding-left: 1em;
}
.topnav-search{
    width:100%; border-radius: 10px;
    border: solid 2px rgba(196, 196, 196, 1);
}
.link-color{
    color: rgba(28, 129, 245, 1);
}
.link-circle{
    width: 3em;
    height: 3em;
    border-radius: 3em;
    border: 2px rgba(73, 71, 71, 1) solid;
    position: relative;
    background-color: rgba(73, 71, 71, 1);
    color: white;
}
.link-circle-active{
    width: 3em;
    height: 3em;
    border-radius: 3em;
    border: 2px rgba(0, 0, 0, 1) solid;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
.link-circle2{
    background: rgba(196, 196, 196, 1);
    width: 3em;
    height: 3em;
    border-radius: 3em;
    
    position: relative;
}
.link-transition-active{
    width: 0.5em;
    height: 3em;
    background-color: rgba(37, 37, 37, 1);
}
.link-transition{
    width: 0.5em;
    height: 3em;
    background-color: rgba(196, 196, 196, 1);
    
}
input:focus {
    outline: none;
    
}
textarea:focus {
    outline: none;
    
}

textarea{
    width: 100%;height: 100%;
}
.input-box{
    height: 4em; width: 100%;background-color: transparent;border: black 1px solid;border-radius: 10px;
}
.input-box2{
    height: 3em; background-color: transparent;border: black 1px solid;border-radius: 10px;
}
.input-box3{
    height: 7em; background-color: transparent;border: black 1px solid;border-radius: 10px;
}
.input-label{
    width: auto;height: 30px;background-color: rgba(160, 241, 255, 1);position: absolute;top: -95%;border-radius: 10px;padding: 5px 5px 5px 5px;
}
.input-label2{
    width: auto;height: 30px;background-color: rgba(196, 196, 196, 1);position: absolute;top: -30%;left: 2%;border-radius: 10px;padding: 5px 5px 5px 5px;
}
.input-label3{
    width: auto;height: 2em;background-color: rgba(196, 196, 196, 1);position: absolute;top: -40%;left: 2%;border-radius: 10px;padding: 5px 5px 5px 5px;
}
.textarea-label{
    width: auto;height: 2em;background-color: rgba(196, 196, 196, 1);position: absolute;top: -15%;left: 2%;border-radius: 10px;padding: 5px 5px 5px 5px;
}

select{
    background-color: transparent;
    
    outline: none;
    border: none;
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
}
option{
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
} 

/* drop down of usd and algo */
.select {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 7em;
  height: auto;
}

.option {
  margin-top: 5%;
  padding: 0 30px 0 10px;
  min-height: 2.5em;
  display: flex;
  align-items: center;
  background: rgba(160, 241, 255, 1);

  border: solid black 2px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  width: 7em;
  pointer-events: none;
  order: 2;
  z-index: 1;
  transition: background 0.4s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}

.option:hover {
  background: rgba(28, 129, 245, 1);
}

.select:focus .option {
  position: relative;
  pointer-events: all;
}

.option-select {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

.option-select:checked + label {
  order: 1;
  z-index: 2;
  background: rgba(160, 241, 255, 1);
  border-top: none;
  position: relative;
}

.option-select:checked + label:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 2px solid black;
  position: absolute;
  right: 10px;
  top: calc(50% - 2.5px);
  pointer-events: none;
  z-index: 3;
}

.option-select:checked + label:before {
  position: absolute;
  right: 0;
  height: 3em;
  width: 3em;
  content: "";
}
/*end of usd and algo dropdown*/


@media (max-width: 760px) {
    .logo-img-box{
        width: 2em;
        height: 2em;
    }
    .topnav-header{
        padding-left: 0.3em;
        
    }
    body{
        font-size: small;
    }
}    